@media screen and (max-width: 980px){

	.service__container, .sert__block {
		grid-template-columns: repeat(auto-fit, 160px);
		grid-column-gap: 15px;
		justify-content: center;
	}
	.service_el {
		width: 160px;
		height: 160px;
	}
	.service_el span {
		font-size: 1.4rem;
		margin: 0 10px 10px 10px;
	}
	.news__container{
		grid-template-columns: auto;
		justify-content: center;
	}
	.news_el{
		width: 350px;
		height: 196px;
	}
	.news_text{
		margin-bottom: 30px;
	}
	.news_data{
		margin-bottom: 5px;
	}

	.banner_slide img, .banner_slider_list, .about-images__container img, .contacts_map
	{
		max-width: 450px;
		height: 196px;
	}

	.service-page__container, .news-page__container, .contacts__container
	{
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
	}
	.service-page_image{
		max-width: 350px;
		height: 196px;
	}
	.about-images__container{
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
		margin: 20px 0;
	}
	.about-images__container img{
		margin: 0;
	}
	.sert_el{
		width: 160px;
		height: 160px;
		font-size: 1.4rem;
	}
	.sert_el div img {
    	width: 45px;
    	height: 45px;
	}

	.mobile_info
	{
		display: grid;
		justify-content: center;
		grid-row-gap: 10px;
		margin: 0 auto 30px auto;
		max-width: 200px;
	}
	.mobile_info_logo
	{
		display: grid;
		grid-template-columns: 40px 1fr;
		grid-column-gap: 10px;
		font-family: Montserrat_bold !important;
	}
	.mobile_info a, .mobile_info span
	{
		text-align: center;
		font-family: Montserrat;
		font-size: 1.5rem;
	}
}